

    <%= form_for ([@company, @profile]) do |f| %>
        <fieldset id = "fieldset">
            <legend>Company Overview</legend>
            
            <div class="field">
                <div class ="formlabel">
                  <%= f.label :story %>
                  <br>
                  <%= f.text_field :story %><br>
                </div>
            </div>


            <div class="field">
                <div class ="formlabel">
                  <%= f.label :product_overview %>
                  <br>
                  <%= f.text_field :product_overview %><br>
                </div>
            </div>

            <div class="field">
                <div class ="formlabel">
                  <%= f.label :year_founded %>
                  <br>
                  <%= f.text_field :year_founded %><br>
                </div>
            </div>

            <div class="field">
                <div class ="formlabel">
                  <%= f.label :number_of_employees %>
                  <br>
                  <%= f.text_field :number_of_employees %><br>
                </div>
            </div>

        </fieldset>

        <fieldset id = "fieldset">
            <legend>Company Profile</legend>
            <div class="field">
                <div class ="formlabel">
                  <%= f.label :pitch_video %>
                  <br>
                  <%= f.text_field :pitch_video %><br>
                </div>
            </div>

            <div class="field">
                <div class ="formlabel">
                  <%= f.label :management_team %>
                  <br>
                  <%= f.text_field :management_team %><br>
                </div>
            </div>


            <div class="field">
                <div class ="formlabel">
                  <%= f.label :management_experience %>
                  <br>
                  <%= f.text_field :management_experience %><br>
                </div>
            </div>

            <div class="field">
                <div class ="formlabel">
                  <%= f.label :advisors %>
                  <br>
                  <%= f.text_field :advisors %><br>
                </div>
            </div>
            <div class="field">
                <div class ="formlabel">
                  <%= f.label :previous_investors %>
                  <br>
                  <%= f.text_field :previous_investors %><br>
                </div>
            </div>
        </fieldset>

        <fieldset id = "fieldset">
            <legend>Executive Summary</legend>

            <div class="field">
                <div class ="formlabel">
                  <%= f.label :problem %>
                  <br>
                  <%= f.text_field :problem %><br>
                </div>
            </div>
    
            <div class="field">
                <div class ="formlabel">
                  <%= f.label :opportunity %>
                  <br>
                  <%= f.text_field :opportunity %><br>
                </div>
            </div>

            <div class="field">
                <div class ="formlabel">
                  <%= f.label :target_market %>
                  <br>
                  <%= f.text_field :target_market %><br>
                </div>
            </div>

            <div class="field">
                <div class ="formlabel">
                  <%= f.label :competitors %>
                  <br>
                  <%= f.text_field :competitors %><br>
                </div>
            </div>
    
            <div class="field">
                <div class ="formlabel">
                  <%= f.label :competitive_advantage %>
                  <br>
                  <%= f.text_field :competitive_advantage %><br>
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend>Business Plan</legend>
  
            <div class="field">
                <div class ="formlabel">
                  <%= f.label :sales_market_strategy %>
                  <br>
                  <%= f.text_field :sales_market_strategy %><br>
                </div>
            </div>

            <div class="field">
                <div class ="formlabel">
                  <%= f.label :business_plan %>
                  <br>
                  <%= f.text_field :business_plan %><br>
                </div>
            </div>


            <div class="field">
                <div class ="formlabel">
                  <%= f.label :short_term_goals %>
                  <br>
                  <%= f.text_field :short_term_goals %><br>
                </div>
            </div>

            <div class="field">
                <div class ="formlabel">
                  <%= f.label :long_term_goals %>
                  <br>
                  <%= f.text_field :long_term_goals %><br>
                </div>
            </div>

            <div class="field">
                <div class ="formlabel">
                  <%= f.label :market_strategy %>
                  <br>
                  <%= f.text_field :market_strategy %><br>
                </div>
            </div>

            <div class="field">
                <div class ="formlabel">
                  <%= f.label :use_of_proceeds %>
                  <br>
                  <%= f.text_field :use_of_proceeds %><br>
                </div>
            </div>

            <div class="actions">
              <%= f.submit %>
            </div>
        </fieldset>
        </form>
<% end %>

<br><br><br><br>
