<%= @company.name %> 


<ul class="nav nav-pills nav-stacked">
  <li role="navigation"><h4 id = "change_overview"><%= link_to "Overview", :remote => :true %></h4></li>
  <li role="navigation"><h4 id = "change_video"><%= link_to "Video", :remote => :true %></h4></li>
  <li role="navigation"><h4 id = "change_team"><%= link_to "Team", :remote => :true %></h4></li>
  <li role="navigation"><h4 id = "change_products"><%= link_to "Products", :remote => :true %></h4></li>
  <li role="navigation"><h4 id = "change_businessmodel"><%= link_to "Business Models", :remote => :true %></h4></li>
  <li role="navigation"><h4 id = "change_competition"><%= link_to "Competition", :remote => :true %></h4></li>  
</ul>




<div class = "window">
  <div id = "formtoappend">
    
  </div>
</div>



