<div class="conversations">
  <div class="well">
    <div class="title">
      <h1>Conversations</h1></div>
       Click on subject to open the conversation
    <br>
    <br>

    <br>
  <div class="window group">
    <% if @conversations == nil || @conversations.empty? %>
      <i>Your Inbox folder is currently empty</i>
  <%end%>

  <% @conversations.each do |conversation| %>
  <h4 class="view-message"><%= link_to "View Message", conversation_path(conversation) %></h4>
    <div class="recipient">

      <% conversation.recipients.each do |recipient| %>
      <% if recipient != current_user %>
        <a href="<%= user_path(recipient.id) %>"><%= image_tag(recipient.avatar, :alt => "#{recipient.name}", :title => "Home") %></a>
        <% if conversation %>
          <p><strong><a href="<%= user_path(recipient.id) %>"></a><%= recipient.name %></strong></p>
         <% else %>
          <p><strong><a href="<%= user_path(recipient.id) %>"><%= recipient.name %></a></strong></p>
        <% end %>
      <% end %>
    <% end %>
    </div>

    <div class="subject">
      <h3>Subject: </h3>
      <% if conversation.is_read?(current_user) %>
        <h4><%= link_to conversation.subject, conversation_path(conversation) %></h4>
      <% else %>
      <h4><%= link_to conversation.subject, conversation_path(conversation) %></h4>
     <% end %>
    </div>

    <div class="time">
      <h3>Date:</h3>
      <% if conversation.is_read?(current_user) %> <%= conversation.updated_at.strftime("%a, %m/%e/%Y %I:%M %p") %>
      <% else %>
      <b> <%= conversation.updated_at.strftime("%a, %m/%e/%Y %I:%M %p") %> </b>
      <% end %>
    </div>






   <% end %>
  </div>


</div>
</div>
</div>
