
<div class="conversation group">
    <h1><%= @conversation.subject %></h1>
    <h2 style="margin-bottom: 30px;">
      <span>A conversation with</span>
      <% @conversation.participants.each do |participant| %>
        <% if participant != current_user %>
          <%= participant.name  %>
        <% end %>
      <% end %>
    </h2>
    <br/>
    <div class="messages">
      <ul>
        <%= content_tag_for(:li, @conversation.receipts_for(current_user).reverse) do |receipt| %>

        <div class="window group">
          <a href="<%= user_path(receipt.message.sender.id) %>"><%= image_tag(receipt.message.sender.avatar, :class=>"profile-pic", :alt => "#{receipt.message.sender.name}", :title => "Home") %></a>
          <div class="message">
            <% message = receipt.message %>
            <br/>
            <b>
              <%= message.sender.name %>
            </b>
            <p>
              <%= raw message.body %>
            </p>
          </div>
        <p class="time-sent">Sent <%= time_ago_in_words(message.updated_at) %> ago.</p>
        </div>
      <% end %>
      </ul>
    </div>

    <div class="message-box group">
      <%= render 'messages/form', conversation: @conversation %>
    </div>

  </div>


