<%= link_to 'Back to companies', @company %>

<%= form_for ([@company, @round]) do |f| %>
  <div class = "formtitle">
    <center>Create A New Round</center>
    <br>
  </div>
  <div class="field">
    <div class ="formlabel">
      <%= f.label :funding_goal %>
      <br>
      <%= f.text_field :funding_goal %><br>
    </div>
  </div>

  <div class="field">
    <div class ="formlabel">
      <%= f.label :term_sheet %> <img src = "http://png.clipart.me/graphics/thumbs/193/question-mark-sign-icon-vector-illustration-flat-design-style_193783226.jpg", id = "termquestionmark" />
      <%= f.file_field :term_sheet %><br>
    </div>
  </div>
  <div class ="formlabel">
    <h3> Due Diligence files  <img src = "http://www.opticsinfobase.org/images/small_question_mark.gif", id = "duequestionmark" /></h3>
  </div>
    <div id="due_diligences">

      <%= f.fields_for :due_diligences do |diligence| %> 
       <img src = "http://www.opticsinfobase.org/images/small_question_mark.gif" />
       <%= render 'due_diligence_fields', :f => diligence %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'Add a file', f, :due_diligences  %>
      </div>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
