<div class="window">
  <h1>Round: <%= @round.id %></h1>
  <h3>Lead Investor: </h3><p><%= @round.lead_investor.first_name %></p>
  <h3>Funding Goal: </h3><p>$<%= @round.funding_goal %></p>
  <h3>Amount Raised: </h3><p>$<%= @round.amount_raised %></p>
  <h3>Term Sheet: </h3><p><%= @round.term_sheet %></p>
  <h3>Due Diligence Files:</h3><% @round.due_diligences.each do |diligence| %>
  <p><%= link_to diligence.file, diligence.file_url %></p>
  <% end %>

  <div class="current-investors group">
    <% @round.investments.each do |investment| %>
      <div class="investor">
        <p>Investor: <%= investment.investor.name %>
        <p>Latest Investment: <%= investment.created_at %></p>
      </div>
    <% end %>
  </div>

  <form class="submit" action="<%= @round.id %>/investments/new">
    <input type="submit" value="Make a new investment!">
  </form>

  <div class="invitation_form">
    <h1>Invite Investors</h1>

    <%= form_tag url_for(:controller => 'invitations', :action => 'send_out_invitations'), :method => 'post' do %>
      <% User.all.each do |user| %>
          <%= check_box_tag "invitee_ids[]", user.id %>
          <%= user.name %>
      <% end %>
      <%= hidden_field_tag 'round_id', @round.id %>
      <%= hidden_field_tag 'company_id', @round.company_id %>
      <%= submit_tag "Invite Users" %>


    <% end %>
  </div>

</div>