<div class="window">
  <h1>Round: <%= @round.id %></h1>
  <h3>Lead Investor: </h3><p><%= @round.lead_investor.first_name %></p>
  <h3>Funding Goal: </h3><p>$<%= @round.funding_goal %></p>
  <h3>Amount Raised: </h3><p>$<%= @round.amount_raised %></p>
  <h3>Term Sheet: </h3><p><%= @round.term_sheet %></p>
  <h3>Due Diligence Files:</h3><% @round.due_diligences.each do |diligence| %>
  <p><%= link_to diligence.file, diligence.file_url %></p>
  <% end %>

  <div class="current-investors group">
    <% @round.investments.each do |investment| %>
      <div class="investor">
        <p>Investor: <%= investment.investor.name %>
        <p>Latest Investment: <%= investment.created_at %></p>
      </div>
    <% end %>
  </div>

  <form class="submit" action="<%= @round.id %>/investments/new">
    <input type="submit" value="Make a new investment!">
  </form>

  <div class="invitation_form">
    <h1>Invite Investors</h1>
    <%= form_for (Invitation.new) do |f| %>
      <%= f.hidden_field :round_id, value: @round.id %>
      <%= f.hidden_field :company_id, value: @round.company_id %>
      <%= f.collection_select(:invitee_id, User.all, :id, :name) %>
      <%= f.submit %>
    <% end %>
  </div>

</div>