<div class="window headings">
  <div class="main-info">
    <h1><a class="other-hover" href="<%= company_path(@round.company.id) %>"> <%= @round.company.name %></a> <br>Fundraising Round </h1></a>
    <h3>Lead Investor: </h3><p><%= @round.lead_investor.name %></p>
    <h3>Funding Goal: </h3><p>$<%= @round.funding_goal %></p>
    <h3>Amount Raised: </h3><p>$<%= @round.amount_raised %></p>
    <h3>Term Sheet: </h3><p><%= link_to "Term Sheet", @round.term_sheet_url %></p></p>
    <h3>Due Diligence Files:</h3><% @round.due_diligences.each do |diligence| %>
    <p><%= link_to diligence.file, diligence.file_url %></p>
    <% end %>

    <div class="progress-bar group"><div class="progress" style="width:<%= @round.progress %>%;"></div></div>

    <% if current_user.id == @round.company.owner_id %>
  <h3 class="right"><%= link_to "Cancel The Round", company_round_path, :method => :delete, data: {confirm: "Are you sure?"} %></h3>
  <% end %>
  </div>
</div>



<div class="window less-pad">
<% unless @round.investments.empty? %>
  <h1 class="center">Investors</h1>
  <div class="current-investors group">
    <% @round.investments.each do |investment| %>
      <div class="investor">
        <%= image_tag(investment.investor.avatar) %>
        <p><strong><%= investment.investor.name %></strong></p>
        <p>On <%= investment.created_at.strftime("%A, %b %d") %></p>
      </div>
    <% end %>
  </div>
<% else %>
  <h2 class="center">There are no investors at this time.</h2>
<% end %>

 <form class="submit" action="<%= @round.id %>/investments/new">
    <input type="submit" value="Make a new investment!">
  </form>
</div>

<div class="window">

  <div class="checkbox_form group">
    <h1>Invite Investors</h1>

    <%= form_tag url_for(:controller => 'invitations', :action => 'send_out_invitations'), :method => 'post' do %>

      <% User.all.each do |user| %>
        <% unless user == current_user%>
        <div class="checkbox_tag">

          <%= check_box_tag "invitee_ids[]", user.id %>
          <%= image_tag(user.avatar) %>
          <p><%= user.name %></p>
        </div>
        <% end %>
      <% end %>
      <%= hidden_field_tag 'round_id', @round.id %><%= hidden_field_tag 'company_id', @round.company_id %>
      <%= submit_tag "Invite Users" %>
   <% end %>
  </div>
</div>
