<div class="name">
  <h1><%= @user.name %></h1>
</div>


<div id = "location">
<h3>Location:</h3>
  p# <%= @user.location %>
</div>

<div class = "edit_button", id = "edit_location_button">
  <%= link_to "Edit Location", :remote => :true  %>
</div>
<div id = "edit_location_form">
</div>



<div class = "biography">
  <h3>Biography</h3>
  <p id = "biography"><%= @user.biography %></p>
</div>
<div class = "edit_button", id = "edit_biography_button">
  <%= link_to "Edit Biography", :remote => :true  %>
</div>

<div id = "edit_experience">
<h3><strong>Experience: </strong><%= @user.experience %></h3>
</div>
<div class = "edit_button", id ="edit_experience_button">
<%= link_to "Edit Experience", :remote => :true  %>
</div>
<div id = "edit_experience_form">
</div>







