
<h3>Location:</h3>
<div class="location">
  <p id = "location"><%= @user.location %></p>
</div>

<div class = "edit_button", id = "edit_location_button">
  <%= link_to "Edit Location", :remote => :true  %>
</div>
<div id = "edit_location_form">
</div>



<h3>Biography:</h3>
<div class = "biography">
  <p id = "biography"><%= @user.biography %></p>
</div>
<div class="edit_button" id ="edit_biography_button">
   <%= link_to "Edit Biography", :remote => :true  %>
</div>


<h3>Experience:</h3>
  <div class="experience">
    <p class="info" id="experience"><%= @user.experience %></p>
  </div>

<div class = "edit_button", id ="edit_experience_button">
  <%= link_to "Edit Experience", :remote => :true  %>
</div>







