<div id="follow_user_successful">

</div>
<% @users.each do |user| %>
	<section class="window user-list">
	<h1><%= user.name %></h1>
	<%= image_tag(user.avatar_url) %>

	 <div class="user-quick headings">
	  <h3 class="headings">Biography</h3>
	  <p><%= user.biography %></p>
	  <h3>Experience</h3>
	  <p><%= user.experience %></p>
	 </div>

		<% if current_user.following?(user) %>
		  <div class="unfollow" id="unfollow_<%=user.id%>">
			  <%= button_to("Unfollow", user_follow_path(user.id, current_user.id),
						  method: :delete)
						   %>
				<%= button_to("Start a Conversation", message_path(user)) %>


	<!--
	THIS IS FOR JAVASCRIPT LATER
			  	$('#unfollow_<%=user.id%>').click(function(){

			  	});
 -->

		  </div>
		<% else %>
		  <div class="follow" id="follow_<%=user.id%>">
				<%= button_to("Follow", user_follows_path(user))%>
		  </div>
		<% end %>
	  <br>
	</section>
<% end %>


<script type="text/javascript">
	$(document).on('ready page:load', function(){
		$(".editbuttons").hide();
		$('#canceleditbutton').hide();
	});
</script>
