<div id="follow_user_successful">

</div>
<% @users.each do |user| %>
	<section class="window user-list">

	<h1><%= link_to user.name, user_path(user) %></h1>
	<%= link_to image_tag(user.avatar_url), user_path(user) %>

	 <div class="user-quick headings">
	  <h3 class="headings">Biography</h3>
	  <p><%=h truncate(user.biography, :length => 200) %></p>
	  <h3>Experience</h3>
	  <p><%= user.experience %></p>
	 </div>

		<% if current_user.following?(user) %>
		  <div class="follower unfollow group" id="unfollow_<%=user.id%>">
			  <%= button_to("Unfollow", user_follow_path(user.id, current_user.id),
						  method: :delete)
						   %>
				<%= button_to("Start a Conversation", message_path(user), :class => "conversate") %>
	<!--
	THIS IS FOR JAVASCRIPT LATER
			  	$('#unfollow_<%=user.id%>').click(function(){

			  	});
 -->
		  </div>

		<% else %>
		  <div class="follow follower group" id="follow_<%=user.id%>">
				<%= button_to("Follow", user_follows_path(user))%>
		  </div>
		<% end %>
	  <br>
	</section>
<% end %>


<script type="text/javascript">
	$(document).on('ready page:load', function(){
		$(".editbuttons").hide();
		$('#canceleditbutton').hide();
	});
</script>
