<div id="follow_user_successful">
	
</div>
<% @users.each do |user| %>
	<section class="window">
	  <h1><%= user.name %></h1>
	  <h3>Biography</h3>
	  <p><%= user.biography %></p>
	  <h3>Experience</h3>
	  <p><%= user.experience %></p>
	  <br>

		<% if current_user.following?(user) %>
		  <div class="unfollow" id="unfollow_<%=user.id%>">
			  <%= button_to("Unfollow", user_follow_path(user.id, current_user.id), 
						  method: :delete)
						   %>

	<!-- 		  
	THIS IS FOR JAVASCRIPT LATER
			  	$('#unfollow_<%=user.id%>').click(function(){
			  		
			  	});
 -->
			 
		  </div>
		<% else %>
		  <div class="follow" id="follow_<%=user.id%>">
				<%= button_to("Follow", user_follows_path(user))%>
		  </div>
		<% end %>
				<%= button_to("Send A Message", message_path(user)) %>
	  <br>
	</section>
<% end %>



<script type="text/javascript">
	$(document).on('ready page:load', function(){
		$(".editbuttons").hide();
		$('#canceleditbutton').hide();
	});
</script>