

<%= form_for @user do |f| %>
  <h1 style="padding: 0;">Create a New User</h1>

  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |message| %>
      <p class="errors"><%= message %></p>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>

  <!-- <div class="field">
    f.label :accreditation
     f.text_field :accreditation
  </div> -->

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="action">
    <%= f.submit %>
  </div>
<% end %>