<h1>This is your profile page</h1>


	<h3><%= @user.first_name %></h3>
	<h3><%= @user.last_name %></h3>


<div id="profile-information">
	<%= render partial: 'profileinformation', locals: {user: @user} %>
</div>

<h1>Your Portfolio (In a nutshell)</h1>
<h1>Your Followers</h1>
<h1>Your Friends</h1>
<h1>Your Invitations</h1>
<% @invitations.each do |invitation| %>
<% round = Round.find(invitation.round_id) %>
<% company = Company.find(round.company_id) %>
<%= link_to company.name, company_round_path(round.company_id, round.id) %>
<% end %>

<div id = "editbutton">
<%= link_to "Edit your profile User Type", :remote => :true  %>
</div> 
<br><br>

<div id = "showeditbuttons">
<%= link_to "Edit your profile", :remote => :true  %>
</div> 
<br><br>

<div id = "editform">
</div>

<div id = "canceleditbutton">
<%= link_to "Cancel", :remote => :true  %>
</div>

<script type="text/javascript">
	$(document).on('ready page:load', function(){
		$(".editbuttons").hide();
		$('#canceleditbutton').hide();
	});
</script>