 	<h1 class="heading", id = "profiletitle">Profile</h1>


<div class="window profile">
	<h1 class="center accreditation"><%= @user.name %>
	<% if @user.accreditation == true %>
		<span>ACCREDITED INVESTOR</span>
	<% end %>
	</h1>
		<%= image_tag(@user.avatar_url) %>
	<div class="profile_information">
		<%= render partial: 'profileinformation', locals: {user: @user} %>
	</div>
		<h3 class="edit", id = "show_edit_button"><%= link_to "Edit your profile", :remote => :true  %></h3>
		<h3 class='edit', id="cancel_edit_button"><%= link_to "Cancel", :remote => :true  %></h3>



		<% if @user.accreditation == false %>

		<h3 class='accreditation', id="apply_for_accreditation"><%= link_to "Apply for Accreditation Status", user_accreditations_path(@user) %></h3>
		<% end %>




</div>



	<div class="window follow profile">
		<h2 class="heading">People who Follow You</h2>
		<% if @follow.exists?(followable_id: (current_user.id)) %>

				<% @follow.each do |follow| %>

				<% if current_user == follow.followable %>
					<div class="follower-box">
						<center>
						<%= link_to (image_tag(follow.follower.avatar_url)), user_path(follow.follower.id)%>
					  </center>
						<h3 class="center"><%= link_to follow.follower.name, user_path(follow.follower.id) %></h3>
						<br>
					</div>
				<% end %>
			<% end %>

		<% else %>
			<p class="center">You don't currently have any followers!</p>
			<h3 class="center">Check out the <%= link_to "investors page", investors_path %>, and reach out to some other users on the site!</h3>
		<% end %>
	</div>




	<div class="window follow profile">
		<h2 class="heading">People You Are Following</h2>
		<% if @follow.exists?(follower_id: (current_user.id)) %>
			<% @follow.each do |follow| %>
				<% if current_user == follow.follower %>
					<div class="follower-box">
						<center>
						<%= link_to image_tag(follow.followable.avatar_url), user_path(follow.followable.id) %>
					 </center>
						<h3 class="center"><%= link_to follow.followable.name, user_path(follow.followable.id)%></h3>
						<br>
					</div>
				<% end %>
			<% end %>
		<% else %>
			<h2 class="center">You're not currently following anyone!</h2>
		<% end %>

	</div>






<div id = "edit_form">
</div>


<script type="text/javascript">
	$(document).on('ready page:load', function(){
		$(".edit_button").hide();
		$('#cancel_edit_button').hide();
	});

</script>