<h1>Profile</h1>


<div class="window">
	<div id="profile_information">
		<%= render partial: 'profileinformation', locals: {user: @user} %>
	</div>
</div>

<%= image_tag(@user.avatar_url) %>
<h1>Your Portfolio (In a nutshell)</h1>
<h1>People who Follow You</h1>

	<% @follow.each do |follow| %>
		<br>
		<% if current_user == follow.followable %>

			<%= follow.follower%>
		<% end %>
		
	<% end %>

<h1>People You Are Following</h1>

	<% @follow.each do |follow| %>
		<br>
		<% if current_user == follow.follower %>
			<%= follow.followable.name %>
		<% end %>
	<% end %>


<h1>Your Friends</h1>

<div id = "show_edit_button">
<%= link_to "Edit your profile", :remote => :true  %>
</div>

<div id = "edit_form">
</div>

<div id = "cancel_edit_button">
<%= link_to "Cancel", :remote => :true  %>
</div>

<script type="text/javascript">
	$(document).on('ready page:load', function(){
		$(".edit_button").hide();
		$('#cancel_edit_button').hide();
	});
</script>