<h1>This is your profile page</h1>

	First Name (first_name)
	<br>
	Last Name (last_name)
	<br>
	Location (location)
	<br>
	Profile Picture (profile_photo_url)
	<br>
	Biography (biography)
	Experience (experience)
	<h3><%= @user.first_name %></h3>
	<h3><%= @user.last_name %></h3>

<div id="profile-information"></div>
<h3><strong>Location: </strong><%= @user.location %></h3>

<h3><strong>Biography: </strong><%= @user.biography %></h3>
<h3><strong>Experience: </strong><%= @user.experience %></h3>


<div id = "new_profile">
	<%= render 'show' %>
</div>

<!-- 
<script type="text/javascript">

  $(document).ready(function() {
     $("#new_profile")
        .on('ajax:beforeSend', function() {alert("loading!");})
        .on('ajax:success', function(data, status, xhr) {alert("success!");})
        .on('ajax:error', function(xhr, status, error) {alert("error!");})
        .on('ajax:complete', function() {alert("complete!");});
  });

</script> -->