<head>
	<link rel="stylesheet" href="./dist/css/animsition.min.css">


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<script src="./dist/js/jquery.animsition.min.js"></script>

</head>
<h1>Companies</h1>

<% @companies.each do |company| %>
<div class="window company">
	<p>
	<h2><%= link_to company.name, company %></h2>	
	<br>
	<h3>Description</h3> 
	<p><%= company.elevator_pitch %></p> 
	<br>
	<h3>Office Location</h3>
	<p><%= company.location %></p> 
	<br>
	<h3>Industry</h3>
	<p><%= company.industry_type %></p>   
	<br>
	<h3>Website</h3>
	 <%= company.website_url %>  
	<br>
	</p>

	<div class="m-scene" id="main">
		<div class="m-right-panel m-page scene_element scene_element--fadeinright">
			<div class="button">
				<%= link_to "Create A New Round", new_company_round_path(company.id)  %>
			</div>	
		</div>
	</div>
</div>
	
		

<% end %>

