  <h1 class="light"><%= link_to @company.name, company_path(@company) %></h1>
  <section class="window company-view">

  <h3>Overview</h3>



        <div class="overview">
            <%= image_tag(@company.company_logo) %>
          <div class="quick_description headings">
            <h3>Location</h3>
            <p><%= @company.location %></p>
            <h3>Industry Type</h3>
            <p><%= @company.industry_type %></p><br>
            <% @company.rounds.each do |round| %>
              <% if @company == round.company %>
                <p><strong>$<%= round.amount_raised %></strong> of $<%= round.funding_goal %> Goal</p>

                <div class="progress-bar group" style="width: 80%"><div class="progress" style="width: <%= round.progress %>%;"></div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>

  <% if current_user == @company.owner %>
    
      <form class="submit"  action="<%= @company.id %>/rounds/new">
        <input type="submit" value="Begin A New Fundraising Round">
      </form>
   
  <% end %>

</section>

