
<p>Please fill out the following information</p>

<%= form_tag %>
 <div class="field">
    <h1>Legal name of the investing entity</h1><br>
    <%= text_field_tag :legal_name %><br>
  </div>
    <br>
  <div class="field">
    <!-- 
Use Javascript to only allow them to check one box
  -->
    <h1>Type of Investing Entity</h1>
    An Individual
    <%= check_box_tag "investing_entity_type", "individual" %>
    A Trust
    <%= check_box_tag "investing_entity_type", "trust" %>
    A Company
    <%= check_box_tag "investing_entity_type", "company" %>
 
  </div>
    <br>
  <div class="field">
    <h1>How is <%= @user.first_name %> accedited?</h1>
    <h3>Please select the best one that applies to you </h3>
    Income
    <%= check_box_tag "type_of_accreditation", "income" %>
    Cash And Securities
    <%= check_box_tag "type_of_accreditation", "cash" %>
    Financial Assets
    <%= check_box_tag "type_of_accreditation", "financial_assets" %>
    Net Assets
    <%= check_box_tag "type_of_accreditation", "net_assets" %>
  </div>
  
  <div class = "field">
  Please Enter your Signature Here
  <%= text_field_tag :signature %><br>
  </div>
  
<%= hidden_field_tag 'user_id', @user.id %>
<%= form_for @user do |f| %>
   I confirm that I am an “Accredited Investor” in Canada as defined in Section 1.1 of NI 45-106<%= f.check_box :accreditation %>
<%= f.submit %>

<% end %>








