
<%= form_tag user_sessions_path, :method => :post do %>
  <div class = "formtitle">
    <!-- <h1 class="center"> -->
      <center>Login</center>
      <br>
    <!-- </h1> -->
  </div>
  <div class="field">
    <div class = "formlabel">
      <%= label_tag :email %><br />
      <%= text_field_tag :email %>
    </div>
  </div>
  <div class="field">
    <div class = "formlabel">
      <%= label_tag :password %><br />
      <%= password_field_tag :password %>
    </div>
  </div>
  <div class="actions">
    <%= submit_tag "Login" %>
  </div>
  <br>
  <div class = "formlinks">
  <%= link_to "Don't Have an Account? Sign up", new_user_path %>
  </div>
<% end %>
