<html>
  <head>
    <title>Angels North</title>
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
  </head>
  <body>

  <header>
  <%= link_to(image_tag("/logo_no_text.png", :class => "logo", :alt => "Angels North Logo", :title => "Home"), root_url) %>
    <nav class="group">
      <div id="primary-nav">
        <ul>
          <li class = "first"><%= link_to "START-UPS", companies_path %></li>
          <% if current_user %>
            <li><%= link_to "INVESTORS", investors_path %></li>
            <li><%= link_to "REGISTER", new_company_path %></li>
            <!-- <li><%= link_to "DASHBOARD", users_dashboard_path %></li> -->
            <li><%= link_to "MESSAGES", conversations_path %></li>
          <% else %>
            <li><%= link_to "ABOUT US", users_path %></li>
          <% end %>
        </ul>
      </div>
      <div class="login group">
        <ul>
          <% if current_user %>

            <li class="user">
                <a href="<%= users_profile_path %>">
                  <p class="username"><%= current_user.name %></p>
                <%= image_tag(current_user.avatar.thumb, :class => "thumbnail", :alt => "logo", :title => "Home") %>
                </a>
                <ul>
                  <li class="username"><a href="<%= users_profile_path %>">Profile</a></li>
                  <li class="username"><a href="<%= users_dashboard_path %>">Dashboard</a></li>
                  <li class="username"><a href="<%= conversations_path %>">Conversations</a></li>
                  <li class="username"> <%= link_to "Logout", :logout, method: :post %></li>
                </ul>

            </li>

          <% else %>
            <li><%= link_to "Login", :login %></li>
            <li><%= link_to "Join", new_user_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>

  <!-- <div class="notice">
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div> -->


  <div id="wrapper">

    <%= yield %>
  </div>


    <footer class="group">
    <div class="links">
    <ul>
      <li class="first"><%= link_to "Terms and Conditions", companies_path %></li>
        <li><%= link_to "Privacy", companies_path %></li>
        <li><%= link_to "FAQs", companies_path %></li>
        <li><%= link_to "About Us", companies_path %></li>
        <li><%= link_to "Contact Us", companies_path %></li>
      </ul>
    </div>

    <div class="copyright">
      <img src="/logo_footer.png" alt="" class="logo">
      <p>Angels North</p>
      <p>Copyright &copy; 2015</p>
      </div>
  </footer>

  </body>


</html>
